.hero {
  @apply container mx-auto p-4 my-10 flex flex-col-reverse md:flex-row;

  &-illustration {
    height: 60vh;
    @apply grid grid-cols-8 grid-rows-6  place-items-center;
  }
  &-image {
    @apply col-start-2 col-span-6 row-span-full z-10;
  }

  &-ad {
    @apply inline-flex items-center gap-4 py-2 px-4;
    background: #fdecec;
    border-radius: 23px;
  }

  &-title {
    font-weight: 700;
    font-size: 74px;
    line-height: 88px;
    letter-spacing: -0.01em;
    color: #2e2e2e;

    span {
      font-weight: 500;
      color: #f54748;
    }
  }

  &-desc {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: #676767;
    margin-top: 1rem;
  }
}

.col {
  @apply w-full md:w-1/2 m-4 p-4;
}

.cta {
  @apply flex items-center gap-4 mt-8;
}

.abstract {
  @apply col-start-6 col-span-2 row-start-3 translate-y-8 translate-x-6;
}

.ad-product {
  display: inline-grid;
  place-items: center;
  width: 182px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 1rem;
  @apply -translate-x-8 space-y-2 col-start-1 col-span-3 row-start-2 row-end-4 z-20;

  &-img {
    @apply transform -translate-y-4;
  }

  &-name {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #2e2e2e;
  }

  &-price {
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #2e2e2e;
  }

  &-cost {
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: #a5a5a5;
  }

  &-btn {
    @apply transform translate-y-10;
  }
}

.delivery-time {
  @apply inline-flex items-center z-10 bg-white gap-4 p-4 shadow-xl col-start-7 col-span-2 row-start-2 row-end-3;
  border-radius: 12px;

  h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #404040;
  }

  p {
    font-size: 12px;
    line-height: 20px;
    color: #a5a4a4;
  }
}
