.footer {
	@apply container mx-auto py-16 px-4;
	&-logo {
		@apply flex items-center gap-1 font-bold;
	}
	nav {
		@apply flex flex-wrap flex-col md:flex-row items-start justify-between gap-16 mb-24;

		h4 {
			color: #e2e2e2e;
			@apply font-semibold;
		}

		p {
			color: #676767;
		}
	}

	&-list {
		@apply space-y-2;
	}

	&-item {
		color: #676767;
		&:hover {
			color: #f86061;
		}
	}

	.divider {
		@apply w-full border my-8;
	}

	.footnote {
		color: #676767;
		@apply flex gap-4 flex-col-reverse md:flex-row md:items-center justify-between;
		ul {
			@apply flex gap-4 items-center md:justify-between;
		}
	}
}

.section {
	@apply space-y-4;
	&-1 {
		@apply md:w-3/12;
	}

	&-4 {
		@apply md:w-3/12;
	}
}
