.cta {
	background: #fef5f5;
	@apply py-24;

	&-content {
		@apply container mx-auto p-4 text-center md:text-left flex gap-4 flex-col md:flex-row items-center justify-center;

		.col {
			@apply grid items-center justify-center;
		}
	}

	h3 {
		color: #f54748;
	}
}

.cta.col.col-content.btn-secondary {
	border: 1.5px solid #eedcdc !important;
}
