.our-services {
	background: #fef5f5;
	@apply py-24 overflow-hidden;

	&-content {
		@apply container mx-auto p-4 text-center flex gap-4 flex-col items-center justify-center;
	}

	h3 {
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.01em;
		color: #f54748;
	}

	h2 {
		color: #2e2e2e;
		@apply font-bold capitalize w-11/12 md:w-1/2 mb-12 text-3xl md:text-4xl;
	}
}

.services {
	@apply flex flex-col flex-wrap md:flex-row items-center justify-center gap-12;
}

.service {
	width: 300px;
	height: 310px;
	@apply relative z-10 flex flex-col gap-4 items-center justify-center rounded-lg bg-white p-8;

	h4 {
		letter-spacing: -0.01em;
		color: #2e2e2e;
		@apply font-semibold text-lg md:text-xl;
	}

	p {
		font-weight: 400;
		font-size: 14px;
		line-height: 25px;
		text-align: center;
		color: #676767;
	}

	&-active {
		&::after {
			position: absolute;
			content: "";
			width: 300px;
			height: 310px;
			background: #ffffff;
			z-index: -1;
			border-radius: 12px;
		}

		&::before {
			position: absolute;
			content: " ";
			width: 310px;
			height: 330px;
			left: 10px;
			z-index: -1;
			background: #fe6a6a;
			border-radius: 12px;
			transform: rotate(-3deg);
		}
	}
}
