.features {
	@apply container mx-auto px-4 py-12 lg:py-24  text-center md:text-left flex flex-col-reverse lg:flex-row gap-4 items-center justify-center md:justify-between;
	img {
	}
	.col {
		&-content {
			@apply lg:ml-24 text-center lg:text-left flex flex-col items-center justify-center lg:justify-start lg:items-start;
		}

		h3 {
			color: #f9ba45;
		}
	}

	.feature {
		width: 200px;
		@apply z-10 col-start-3 row-start-5 md:col-start-5 col-span-full md:row-start-1 row-span-full translate-x-10 text-center p-4 bg-white rounded-lg shadow-lg inline-flex flex-col items-center justify-center gap-4;

		.img-card {
			background: #f54748;
			@apply bg-red-700 bg-opacity-10 w-full rounded-lg p-4 grid place-content-center;

			img {
				@apply shadow-red-400 drop-shadow-lg;
			}
		}

		h4 {
			color: #2e2e2e;
			@apply font-bold text-lg;
		}

		p {
			@apply text-sm mb-0;
		}
	}
}

.ellipse {
	@apply grid-flow-row border-yellow-400 border-8 rounded-full w-12 h-12;
}
